.simple-page {
    min-height: 100vh;

    .simple-page-content {
        max-width: 600px;
        margin: 0px auto;
        text-align: center;
        position: relative;
        top: 50vh;
        transform: translateY(-50%);
    }
}
