@use '../../theme.scss';

.site-footer {
    background-color: theme.$brand-color;
    color: theme.$text-color;
    padding: 20px;

    .copyright {
        text-align: center;
        font-size: 10px;
    }
}
