$background-color: #1b1b1b;
$background-color-alt: #2b2b2b;
$text-color: #f2f2f2;

$brand-color: #2f7150;
$brand-color-alt: #25553d;
$error-color: #c0392b;

$brand-font: 'Cal Sans', sans-serif;
$text-font: 'Open Sans', sans-serif;
